
<li><span class="white">Legend Of The Red Dragon</span> - <span class="light">Abdul's Armor Emporium</span></li>
<li class="sep">-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</li>
<li></li>
<li>I don't work yet! Sorry.</li>
<li></li>
<pre>
  <span data-command="space" class="action">(R)eturn to town</span>
</section>