
<li><span class="white">Legend Of The Red Dragon</span> - <span class="light">The Inn</span></li>
<li class="sep">-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</li>
<li>You uncork the strange glowing brew and slug it down in two big gulps.</li>
<li>You notice a strange tingling all about your person. You close your eyes to enjoy the sensation, and notice that you don't feel as tired and worn down as you usually do.</li>
<li><span class="green">** YOUR HEALTH HAS INCREASED **</span></li>

<li><span class="white" data-command="space"> -= CONTINUE =-</span></li>

