
<li><span class="white">Legend Of The Red Dragon</span> - <span class="light">The Inn</span></li>
<li class="sep">-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</li>
<li>You uncork the strange glowing brew and slug it down in two big gulps.</li>
<li>Your muscles bulge into every crease and fold of your armor.  You feel like a god for a brief moment in time.</li>
<li><span class="red">** YOUR STRENGTH HAS INCREASED **</span></li>

<li><span class="white" data-command="space"> -= CONTINUE =-</span></li>

