
<li><span class="white">Legend Of The Red Dragon</span> - <span class="light">King Arthurs Weapons</span></li>
<li class="sep">-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</li>
<li></li>
<li>You equip your new weapon into your hands.  You feel a sharp crackle of power. </li>
<li></li>
<pre>
  <span data-command="space" class="action">(R)eturn to town</span>
</section>