<pre class="intro">
&block;   &block;&block;&block;  &block;&block;&block;   &block;&block;&block;
&block;   &block; &block;  &block;  &block;  &block;  &block;
&block;   &block; &block;  &block; &block;   &block;  &block;
&block;&block;  &block;&block;&block;  &block;  &block;  &block;&block;&block;   v0.2.1 - <a href="/patchnotes">latest patch notes</a>

<span class="gradient-bar"><span>&block;</span><span>&block;</span><span>&block;</span><span>&block;</span><span>&block;</span>&block;&block;&block;&block;&block;&block;&block;&block;&block;</span>
</pre>
