<li>Welcome to the Legend of the Red Dragon! Press enter to get started.</li>
<li class="sep">=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=</li>
<li class="touch">

</li>
<li class="command">
  Your Command? <span class="blink cursor">&#x2581;</span><span class="command-options">(Enter)</span>
  <span class="menu">? for menu</span>
</li>