<li><span class="white">Legend of the Red Dragon</span> - <span class="action">News</span></li>
<li class="sep">=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=</li>
<%= for post <- @posts do %>
<li><%= post.body %></li>
<li></li>
<% end %>


<li class="command">
  <span class="action">News</span>
  <span class="command-options">(space, enter)</span>
</li>


