@import "reset.scss";
@import "components/statistics";
@import "components/forest";

@font-face {
    font-family: 'Classic Console';
    src: url('/fonts/ClassicConsole.eot');
    src: url('/fonts/ClassicConsole.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ClassicConsole.woff2') format('woff2'),
        url('/fonts/ClassicConsole.woff') format('woff'),
        url('/fonts/ClassicConsole.ttf') format('truetype'),
        url('/fonts/ClassicConsole.svg#ClassicConsole') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color:#000;
    color: #03C705;
    font-family: 'Classic Console';
    font-size: 1.1rem;
    -webkit-font-smoothing: antialiased;
}

#log {
    background-color: #000;
    padding: 5% 5% 10% 5%;
    padding-bottom: 25%;
    font-size: 1.0em;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 0 auto;
    max-height: 74%;
    position: relative;
}

table {
    text-align:center;
}

table > thead {
    color: white;
    font-size:28px;
}

tr {
    padding: 10px;
    margin: 10px;
    min-width: 5rem;
}

td {
    margin: 10px;
    min-width: 5rem;
}

li.round-hidden {
    visibility: hidden;
}

.attack-stars {
    color: red;
}

.mob-damage {
    color: white;
}

.fight-start {
    font-size: 1.5em;
}

.white {
    color: white;
}

img.centered {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#touchBar {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 20%;
}

ul > li {
    list-style-type: none;
    color: #03C705;
    display:block;
    // min-height: 15px;
}

section.buffer {
    position: fixed;
    top: 50%;
    width: 50%;
    height: 30px;
    background: transparent;
}

input {
    background: transparent;
    border: 0;
    outline: none;
    color: violet;
    border-bottom: 1px solid violet;
}

li.sep {
    color: rgb(128, 0, 128);
    white-space: nowrap;
    overflow: hidden;
}

li.touch-command {

}

li.inner-thought {
    color: rgba(255, 255, 255, 1);
}

li.command {
    margin-right: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight:normal;
}

span.command-options {
    color: violet;
}
span.cursor {
    margin-right: 10px;
}
span.menu {
    color: rgba(25, 25, 25, 1);
}

pre.forest {
    font-size: 26px;
    color: white;
}

pre > a {
    font-size: 16px;
    color: violet;
}
pre > a:hover {
    color: purple;
}

li.middle {
    text-align: center;
}
pre {
    overflow: hidden;
    color: lightgreen;
    padding: 0;
    margin:0;
    letter-spacing: 0;
    line-height: 14px;
    font-family: "Classic Console";
}

pre.intro {
    color:white;
}

span.gradient-bar {

}


.gradient-bar:nth-child(1) {
    color:rgb(0, 180, 0);
}
.gradient-bar:nth-child(2) {
    color:rgb(0, 0, 0);
}

.gradient-bar:nth-child(3) {
    color:rgb(0, 23, 0);
}

span.action {
    color: violet;
    font-size: 1.2em;
    cursor:pointer;
}
span.light {
    color: rgba(233, 235, 235, 1);
}

span.gold {
    color: gold;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.special-light {
    color: lightgreen;
}

span.strong {
    color: magenta;
}

span.death-knight {
    color: rgb(204, 119, 34);
}

section.chat {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 25%;
    max-height: 500px;
    padding: 0;
    pointer-events: none;
    width: 100%;
    display: flex;


    color: #eee;
    justify-content: flex-end;
    flex-direction: row;
    transform: translate3d(0, 0, 0);
    transition: translate 150ms ease-out;
}

section.chat.inactive {
    transform: translate3d(0, -500px, 0);
    transition: translate 150ms ease-out;
}

input.chat-enter {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid rgba(25, 25, 25, 1);
    border-bottom: none;
    height: 2rem;
    left: 0;
    padding-left: 10px;

}

.chat-wrap {
    overflow: auto;
    padding: 10px;
    margin: 0;
    margin-bottom: 50px;
    text-align: right;
}

span.username {
    color: purple;
}

.chatlog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 28px 11px;
    justify-content: flex-end;
}

.chatlog span.message {
    color: whitesmoke;
}

section.presence {
    width: 20%;
    border-left: 1px solid rgba(25, 25, 25, 1);
    height: 84%;
    display: flex;
}

section.presence ul > li {

}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.form-group {
    margin: 0 auto;
    width: 50%;
}

button[type=submit] {
       background-color: black;
    color: violet;
    border: 1px solid rgba(25, 25, 25, 1);
    width: 104%;
    margin-top: 13px;
}

section.village-menu {
    min-height: 100%;
    display: flex;
    margin: 25px;
    flex-wrap: wrap;
    flex-direction: row;
}

section.village-option {
    display: flex;
    flex-basis: calc(50% - 40px);
    padding: 0;
}

@media screen and (max-width: 730px) {
    section.village-option {
        display: flex;
        flex-basis: 100%;
        padding: 4px;
    }
}
section.village-option span {
    margin-top: -3px;
}


li.weapons {
    color: gold;
}

section.weapon-menu {
    min-height: 100%;
    display: flex;
    margin: 25px;
    flex-wrap: wrap;
    flex-direction: row;
}

section.weapon-option {
    display: flex;
    flex-basis: calc(35%);
}
section.weapon-option span {
    margin-top: -3px;
}


section.forest-stats {
    min-height: 100%;
    display: flex;
    margin: 25px;
    flex-direction: row;
}


section.forest-stats > section {
    display: flex;
    flex-basis: calc(50%);
    flex-direction: column;
}


section.vitals {

}

.weapon-option > span.gold {
    text-align: right;
    min-width: 10rem;
}
span.dead {
    color: red;
}
span.alive {
    color: white;
}
