<li>Which Character would you like to play?</li>
<li class="sep">=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=</li>
<li><span class="action">(L)</span>ist existing characters</li>
<li><span class="action">(C)</span>reate new character</li>
<li><span class="action">(D)</span>elete a dead or unwanted character</li>
<li class="command">
  Your Command? <span class="blink cursor">&#x2581;</span><span class="command-options"></span>
  <span class="menu">? for menu</span>
</li>