<li>Legend of the Red Dragon - <span class="action">Create new Hero</span></li>
<li class="sep">=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=</li>

<li>What should I call you?
<span class="action-input">
    <input class="action action-input-new-character" type="text" name="character-new" />
</span>
</li>

</li>
