<div class="general-info">
  <section>
    <span class="name">Name</span>
  </section>

  <section>
    <span class="level">10</span>
    <span class="className">Death Knight</span>
  </section>

  <section>
    <span class="target">no target</span>
  </section>
</div>