<ul id="log"></ul>
<section class="chat">
    <section class="chatlog">
        <ul class="chat-wrap"></ul>
    </section>
    
    <input type="text" class="chat-enter" placeholder="press enter to chat" />
</section>

    <script>window.zlordtoken = "<%= assigns[:token] %>";</script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>