  <title>LORD - Legend of the Red Dragon</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <main role="main">
      <section class="game"></section>


<script>window.zlordtoken = "<%= assigns[:token] %>";</script>
<script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
<script src="<%= static_path(@conn, "/js/prototype.js") %>"></script>
